html {
    background-color: #e2f1fA;
    font-family: "Montserrat", sans-serif;
}

h2 {
    text-align: center;
    width: 50%;
    font-size: 2em;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0.1em;
    color: #233164;
}

#ptalogo {
    position: absolute;
    max-width: 15%;
    height: auto;
    float: left;
}

.nav {
    overflow: hidden;
    background-color: #ffd726;
    text-align: center;
}

#navlist {
    display: inline-block;
    list-style-type: none;
    margin: auto;
}

#navlistitem {
    display: inline;
}

#navlistitem a {
    display: inline-block;
    text-decoration: none;
    color: #233164;
    font-size: 1.25em;
    font-weight: 700;
    padding: 0.625em;

}

#navlistitem a:hover{
    color: #ffd726;
    background-color: #233164;
}


.main {
    padding-top: 2em;

    padding-left: 20%;
    padding-right: 20%;
}

#mainimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

p {
    font-size: 1.10em;
    text-align: center;
}
.calendar {
  text-align: center;
    margin-top: 1.5em;
}

.fbfeed {
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
}
